@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
    margin: 0;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sections {
    min-height: 67%;
    background: #171717;
    color: #fff;
    padding-bottom: 90px;
}

.navbar {
    text-decoration: none;
    background: #171717;
}

.brand {
    color: orange;
    font-size: 35px;
}

.units-color {
    color: orange;
}

.units {
    margin-top: 110px;
    font-size: 2.7rem;
}

.fa-location-dot {
    margin-top: -20px;
    margin-right: 20px;
    font-size: 50px;
}

.weather__header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    border: none;
    background: #1e1e1e;
    outline: none;
    color: #fff;
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
}

input::placeholder {
    color: #fff;
}

.input {
    border: none;
    background: #1e1e1e;
    outline: none;
    color: #fff;
    border-radius: 5px;
}

.input::placeholder {
    color: #fff;
}

.input:focus {
    border: none;
    background: #1e1e1e;
    outline: none;
    color: #fff;
    border-radius: 5px;
}

.weather__search {
    position: relative;
}

.weather__search i {
    position: absolute;
    padding-left:7px;
    top:7px;
    font-size: 25px;
    color: #fff;
}

.weather__units {
    font-size: 1.5rem;
}

.weather__units span {
    cursor: pointer;
}

.weather__units span:first-child {
    margin-right: 0.5rem;
}

.weather__body {
    text-align: center;
    margin-top: 3rem;
}

.weather__datetime {
    color: orange;
    margin-bottom: 2rem;
    font-size: 20px;
}

.weather__forecast {
    background: #373737;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 30px;
}
.weather__forecast p {
    margin-top: 10px;
}

.weather__icon img {
    width: 220px;
}

.weather__temperature {
    margin-top: 60px;
    font-size: 5rem;
}

.minmax {
    font-size: 30px;
}


.card {
    margin-top: 1.5rem;
}

.card i {
    font-size: 2.5rem;
    margin-left: 20px;
}

.card-text {
    margin-top: -40px;
    font-size: 30px;
}

.footer {
    color: #535151;
    height: 200px;
    background: #191919;
}


.margin-sm {
    margin-top: 30px;
}
.margin-ml {
    margin-top: 80px;
}

@media(max-width: 936px){
    .container {
        width: 90%;
    }

    .weather__header {
        flex-direction: column;
    }

    .weather__units {
        margin-top: 1rem;
    }
}
